* { 

    box-sizing: border-box; 

    scroll-behavior: smooth; 

} 

 

body { 

    margin: 0; 

    font-family: Arial, Helvetica, sans-serif; 

} 

 

h1, 

h2, 

h3, 

h4 { 

    margin-top: 0; 

} 

 

h1 { 

    font-size: 3.75rem; 

} 

 

h2 { 

    font-size: 2.25rem; 

} 

 

h3 { 

    font-size: 1.75rem; 

    margin-bottom: 0; 

} 

 

h4 { 

    font-size: 1.25rem; 

} 

 

p { 

    line-height: 1.5rem; 

} 

 

.center-container { 

    margin: 0 auto; 

    max-width: 1000px; 

} 

 

nav { 

    background-color: #453137; 

} 

 

nav img { 

    height: 90px; 

    margin: 10px; 

} 

 

header { 

    background-color: #9E7682; 

    height: calc(100vh - 110px); 

    display: flex; 

    flex-direction: column; 

    justify-content: center; 

    align-items: center; 

    border-top: solid 4px #000000; 

} 

 

header .header-top-row { 

display: flex; 

} 

 

header .header-bottom-row { 

    display: flex; 
    justify-content: center; 
    margin-top: 70px; 

} 

 

header img { 

    max-width: 250px; 

} 

 

a.manual-link { 

    background-color: #F7C4A5; 
    color: #000000; 
    text-decoration: none; 
    font-weight: 700; 
    padding: 25px; 
    border-radius: 25px; 
    

} 

 

a.manual-link:hover { 

color: #ffffff; 

} 

 

.mission { 

background-color: #F7C4A5; 
padding: 75px 0; 
border-top: solid 4px #000000; 

} 

 

.about { 

background-color: #605770; 
padding: 75px 0; 
border-top: solid 4px #000000; 

} 

.inhoudsopgave{
    background-color: #F7C4A5; 
    padding: 75px 0; 
    border-top: solid 4px #000000; 
}

li{
    font-size: 1.25rem;
    padding: 10px 0;
    display: flex;
    gap: 400px;
    justify-content: flex-start;
}

li a{
    background-color: #605770; 
    color: #000000; 
    text-decoration: none; 
    font-weight: 700; 
    padding: 25px; 
    border-radius: 25px; 
    width: 280px;
}

li a:hover{
    color: #ffffff; 
}

.handleiding{
    background-color: #605770; 
    padding: 75px 0; 
    border-top: solid 4px #000000; 

}

 

footer { 

background-color: #353243; 
padding: 10px 0; 
border-top: solid 4px #000000; 

} 

 

footer a { 

color: #FBE2D2; 
text-decoration: none; 
margin: 10px; 

} 

@media(max-width: 685px){
    h1,
    h2,
    p{
        padding: 0 20px;
    }
    nav{
        flex-direction: column;
        padding: 0 35px;
    }
    header{
        height: auto;
    }
    .header-top-row{
        flex-direction: column;
    }

    header img{
        margin: 0 0 0 70px;
    }
    .manual-link{
        margin: 0 0 25px 0;
    }
    footer{
        padding-left: 120px;
    }
}